<!DOCTYPE html>
<html>
    {# <head>
    </head> #}
    <body>
        {# {% block body %} #}
        <h1><center>Project management</center></h1>
         <a href="{{ path('task_index') }}">Task List</a>
         <a href="{{ path('project_index') }}">Project List</a>
         <a href="{{ path('user_index') }}">User List</a>
        {# {% endblock %} #}
    </body>
</html>
